@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(191,191,191);
    color: rgb(31,32,29);
}

:root {
    --red-color:#DB2A24;
    --black-color: #2F302C;
    --text-color-light: #C1C2BD;
    --container-color: #DCDED3;
  }

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 1.5rem;
}

.clock{
    height: 176px;
    background-color: var(--container-color);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    border: 3px solid var(--black-color);
    border-radius: 10rem;
    box-shadow: 6px 6px 0 rgb(166,166,166),12px 12px 0 rgb(47,48,44),inset 10px 10px 0 rgb(191,191,191),inset 11px 11px 0 rgb(168,169,162) ;
}

.clock-circle{
    position: relative;
    width: 100px;
    height: 100px;
    border: 3px solid var(--black-color);
    border-radius: 50%;
    background-color: var(--container-color);
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.4) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-dot{
    width: 6px;
    height: 6px;
    background-color: var(--black-color);
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.hour-hand{
    width: 2px;
    height: 25px;
    background-color: var(--red-color);
}

.min-hand{
    width: 2px;
    height: 38px;
    background-color: var(--red-color);
}

.hour-hand,
.min-hand{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 50%;
    transform-origin: bottom;
}

.digital-clock{
    display: grid;
    row-gap: .25rem;
    border-bottom: 1px solid var(--text-color-light);
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.clock-day,
.ampm{
    font-size: .813rem;
    font-weight: 500;
}

.month,
.year,
.date,
.hour,
.min{
    font-size: 1.25rem;
    font-weight: 600;
}

/* For Small Screen  */
@media screen and (max-width: 768px){
    .clock{
        width: 176px;
        height: 328px;
        flex-direction: column;
        row-gap: 1.5rem;
        text-align: center;
        padding-left: .8rem;
    }
}

/* For Medium Screen  */
@media screen and (min-width: 768px) {
    .clock{
        width: 380px;
        height: 190px;
        column-gap: 2rem;
    }  
}

/* For large Screen  */
@media screen and (min-width: 1024px) {
    .clock{
        width: 602px;
        height: 306px;
        border: 4px solid #2F302C;
        box-shadow: 15px 15px 0 rgb(166,166,166), 30px 30px 0 rgb(47,48,44) , inset 16px 16px 0 rgb(191,191,191), inset 18px 18px 0 rgb(168,169,162) ;
        column-gap: 3rem;
    }
    .clock-circle{
        width: 170px;
        height: 170px;
        border: 4px solid #2F302C;
    }

    .clock-dot{
        width: 8px;
        height: 8px;
    }

    .hour-hand{
        width: 3px;
        height: 40px;
    }

    .min-hand{
        width: 3px;
        height: 62px;
    }

    .digital-clock{
        margin-bottom: 1.5rem;
    }

    .clock-day,
    .ampm{
    font-size: 1.5rem;
    }

    .month,
    .year,
    .date,
    .hour,
    .min{
        font-size: 2.25rem;
    }
}









